# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# IDE/editor
.vscode/
.idea/
*.iml

# Go modules sum
go.sum

# Local env files
.env



